<!DOCTYPE html>
<html>
<head>
    <title>hiraganaHelper</title>
    <link rel="stylesheet" href="/styles.css">

    <link rel="manifest" href="/manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffa5d5">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/icons/icon-192.png">

    <script>
    if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js')
        .then(reg => console.log('SW registrado:', reg.scope))
        .catch(err => console.error('Falha no SW:', err));
    });
    }
    </script>
</head>
<body>
    <div id="home-div">
        <h1>hiraganaHelper</h1>
        <p id="home-text">Ferramenta simples para memorização do alfabeto hiragana! :></p>
        <a href="/app" id="start-button">行くよ | Vamos!</a>
    </div>
</body>
</html>